@*@{
    ViewData["Title"] = "Contact";
}*@
<div class="container container-customized">
    <div class="panel panel-default ">
        <div class="panel-heading"><b>Contact us</b></div>
        <div class="panel-body">
            
            <span>
                <b>Development Office</b> <br />
                Road 5,Middle Nandipara Bashaboo,Khilgaon<br />
                Dhaka,Bangladesh<br />
                <i class="glyphicon glyphicon-phone"></i> 01833-455558 <br />
                <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:ouredu.co@gmail.com">ouredu.co@gmail.com</a>
            </span>
            <br /><br />
            <hr />

            <span>
                <b>Head Office</b> <br />
                Harris Park,Granville,NSW-2142<br />
                Australia<br />
                <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:ouredu.co@gmail.com">ouredu.co@gmail.com</a>
            </span>
                       
        </div>
    </div>
</div>