<div class="panel panel-default ">
    <div class="panel-heading">OurEdu</div>
    <div class="panel-body">
        OurEdu is here to digitalize the education system by providing
        web based education management software
        named as Education Media including website for
        educational institutions(specially schools and colleges) in Bangladesh.

        <br />
        There are large number of educational institutions (specially
        schools and colleges) in Bangladesh Which don't have their own websites.
        We are providing 100% free website for any educational institutions.
        <br />
        Currently, computer science students of various
        universities and experts in IT feilds are working at OurEdu.

    </div>
</div>




