

<div class="panel panel-default">
    <div class="panel-heading"><b>Mission & Vision</b></div>
    <div class="panel-body">
        100% Free website for colleges of Bangladesh.

        <br />
        OurEdu is a software company to provide web based education management software including website for educational institutions (specially schools and colleges) in Bangladesh.
        <br />
        There are large number of educational institutions (specially schools and colleges) in Bangladesh don't have their own websites. We are providing 100% free website for any educational institutions.
        <br />
        Currently, computer science students of various universities and spertises in IT fields are working at OurEdu.
        <br />
        We provide update version of our product twicely in a year along with free customer support.


    </div>
</div>


