<div class="panel panel-default">
    <div class="panel-heading"><b>Products</b></div>
    <div class="panel-body">
        
        1. 100% Free website for colleges of Bangladesh.
        <br/>
        2. No hidden cost.
        <br />
        3. Develop website with latest Microsoft technologies.
        <br />
        4. Develop by computer science students of various universities and expertise in IT fields
        <br />
        5. Yearly twice update.
        <br />
        6. Free customer service.
    </div>
</div>

