
@if (ViewBag.OeErrorMessage != null)
{
    @ViewBag.OeErrorMessage;
}
else
{
    @model OE.Web.Models.IndexLoginVM

    <div class="container">
        <div class="row">
            <div class="col-lg-3"><br /></div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">Find Your Account</h1>
                    </div>
                    <br />
                    <h4 class="text-danger text-center"><b>@ViewBag.msg</b></h4>

                    <h5>Please enter your OurEdu Id to search for your account.</h5>
                    <div style="height:150px;">
                        <form>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" id="OurEduId" name="OurEduId" placeholder="Enter OurEdu Id" required />
                            </div>
                            <hr />

                            <button class="btn btn-success btn-md" formmethod="post"
                                    asp-area=""
                                    asp-controller="Home"
                                    asp-action="ForgetPassword">
                                <i class="fas fa-save" aria-hidden="true"></i>
                                Send
                            </button>
                            <a class="btn btn-danger btn-md"
                               asp-area=" "
                               asp-controller="Home"
                               asp-action="Login">Cancel</a>
                        </form>
                    </div>
                    <div class="col-lg-3"><br /></div>
                </div>
            </div>
        </div>
    </div>

}

