
@if (ViewBag.OeErrorMessage != null)
{
    @ViewBag.OeErrorMessage;
}
else
{
    @model OE.Web.Models.IndexLoginVM
    @using Microsoft.AspNetCore.Http

    <div class="container">
        <div class="row">
            <div class="col-lg-3"><br /></div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">Reset Your Password</h1>
                    </div>
                    <br />

                    <h4 class="text-danger text-center"><b>@ViewBag.msg</b></h4>

                    <div style="height:150px;">
                        <form>
                            <input type="hidden" class="form-control" id="OurEduId" name="OurEduId" value="@Context.Session.GetString("session_CurrentEmail")" placeholder="Enter OurEdu Id" required />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Reset Password" required />
                            </div>
                            <hr />

                            <input class="btn btn-success btn-block btn-lg" type="submit" value="Save" formmethod="post"
                                   asp-area=""
                                   asp-controller="Home"
                                   asp-action="ResetPassword">
                        </form>
                    </div>
                    <div class="col-lg-3"><br /></div>
                </div>
            </div>
        </div>
    </div>

}

