
@if (ViewBag.OeErrorMessage != null)
{
    @ViewBag.OeErrorMessage;
}
else
{
    @model OE.Web.Models.IndexLoginVM
    @using Microsoft.AspNetCore.Http

    <div class="container">
        <div class="row">
            <div class="col-lg-3"><br /></div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">Verify your code</h1>
                    </div>
                    <br />
                    <h4 class="text-danger text-center"><b>@ViewBag.msg</b></h4>

                    <h5>We've send you password recovery code into your given mail address. Please confirm with your recovery code to recover your account.</h5>
                    <div style="height:150px;">
                        <form>
                            <input type="hidden" class="form-control" id="OurEduId" name="OurEduId" value="@Context.Session.GetString("session_CurrentEmail")" placeholder="Enter OurEdu Id" required />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" id="verifyCode" name="verifyCode" placeholder="Verify Code" required />
                            </div>
                            <hr />

                            <button type="submit" formmethod="post" class="btn btn-default pull-right"
                                    asp-controller="Home"
                                    asp-action="VerifyCode"
                                    asp-route-verifyCode="verifyCode">
                                Confirm
                            </button>
                            <a class="btn btn-success btn-md" formmethod="post"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="ForgetPassword">
                                <i class="fas fa-save" aria-hidden="true"></i>
                                Resend Code
                            </a>
                        </form>
                    </div>
                    <div class="col-lg-3"><br /></div>
                </div>
            </div>
        </div>
    </div>

}

